* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 3em 0;
  padding: 0;
}

.outer {
  margin: 0 auto;
  max-width: 480px;
}

.logo {
  //background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M 6 5 C 3.794 5 2 6.794 2 9 C 2 11.057055 3.5631987 12.717476 5.5625 12.9375 C 5.2036672 13.537 5 14.251787 5 15 C 5 17.206 6.794 19 9 19 C 10.208546 19 11.266003 18.443393 12 17.59375 C 12.733997 18.443393 13.791454 19 15 19 C 17.206 19 19 17.206 19 15 C 19 14.251787 18.796333 13.537 18.4375 12.9375 C 20.436801 12.717476 22 11.057055 22 9 C 22 6.794 20.206 5 18 5 C 16.791454 5 15.733997 5.5566073 15 6.40625 C 14.266003 5.5566073 13.208546 5 12 5 C 10.791454 5 9.7339974 5.5566073 9 6.40625 C 8.2660026 5.5566073 7.2085457 5 6 5 z M 6 7 C 7.103 7 8 7.897 8 9 C 8 10.103 7.103 11 6 11 C 4.897 11 4 10.103 4 9 C 4 7.897 4.897 7 6 7 z M 12 7 C 13.103 7 14 7.897 14 9 C 14 10.103 13.103 11 12 11 C 10.897 11 10 10.103 10 9 C 10 7.897 10.897 7 12 7 z M 18 7 C 19.103 7 20 7.897 20 9 C 20 10.103 19.103 11 18 11 C 16.897 11 16 10.103 16 9 C 16 7.897 16.897 7 18 7 z M 9 13 C 10.103 13 11 13.897 11 15 C 11 16.103 10.103 17 9 17 C 7.897 17 7 16.103 7 15 C 7 13.897 7.897 13 9 13 z M 15 13 C 16.103 13 17 13.897 17 15 C 17 16.103 16.103 17 15 17 C 13.897 17 13 16.103 13 15 C 13 13.897 13.897 13 15 13 z"/> </svg> ');
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M 11.96875 1.03125 C 11.96875 1.03125 11.652 3.312 11 4 C 10.928 3.201 10.5 2.71875 10.5 2.71875 C 10.15 4.17775 9 4.879 9 6.125 C 9 7.501 9.9305 8.65 11.1875 9 C 11.0655 8.751 10.96875 8.459 10.96875 8.125 C 10.96875 6.681 11.96875 5.375 11.96875 5.375 C 11.96875 5.375 12.96875 6.68 12.96875 8.125 C 12.96875 8.458 12.90325 8.751 12.78125 9 C 14.03825 8.65 14.9375 7.501 14.9375 6.125 C 14.9375 5.096 14.58025 4.34725 14.15625 3.65625 C 14.15725 3.65725 13.96475 4.847 13.34375 5.375 C 14.18475 2.881 11.96875 1.03125 11.96875 1.03125 z M 12.78125 9 L 11.1875 9 L 8 9 L 10 14 L 14 14 L 16 9 L 12.78125 9 z M 10 15 L 10.875 22 C 10.955 22.566 11.428 23 12 23 C 12.572 23 13.07525 22.566 13.15625 22 L 14 15 L 10 15 z"/> </svg> ');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3.5em;
  margin: 0 auto .75em;
  width: 3.5em;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .3em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
}

.subtitle {
  color: #999;
  font-size: .875em;
  margin-bottom: 2em;
  text-align: center;
}

.leaderboard {
  border-top: 1px solid #f1f1f1;
  counter-reset: ol-counter;
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0;
}

.player {
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  padding: .5em 0;
  position: relative;
  overflow: hidden;
  transition: background 300ms ease-out;
  border-left: 4px solid white;
}

.player:before {
  color: #999;
  content: counter(ol-counter);
  counter-increment: ol-counter;
  display: inline-block;
  font-weight: 300;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;
  width: 3em;
}

.player .avatar {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}

.player .name {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  vertical-align: middle;
}

.player .score {
  color: #333;
  display: block;
  float: right;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 2.4em;
  padding-right: 1.25em;
}

.player.selected {
  background-color: #fefff4;
  border-left: #eb5f3a 4px solid;
}

.player:hover {
  background-color: #fefff4;
}

.details {
  overflow: hidden;
}

.details .name {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.25rem;
  padding-left: 1.25rem;
  vertical-align: middle;
}

.details .inc {
  border-radius: 3em;
  border: #eb5f3a 1px solid;
  background: transparent;
  color: #eb5f3a;
  cursor: pointer;
  float: right;
  font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 30px;
  transition: all 200ms ease-in;
}

.inc:hover {
  background: #eb5f3a;
  color: #fff;
}

.inc:active {
  box-shadow: rgba(0,0,0,.3) 0 1px 3px 0 inset;
}

.message {
  color: #aaa;
  line-height: 2.25rem;
  text-align: center;
}

@media (max-width: 500px) {
  .details, .message {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #fafafa;
    width: 100%;
    padding: 12px 15px;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .details .name {
    font-size: 1.2em;
    padding-left: 0;
  }

  .details .inc {
    padding: 10px 20px;
  }

  body {
    margin: 2em 0 4em 0;
  }

  .player:hover {
    background-color: inherit;
  }

  .player.selected:hover {
    background-color: #fefff4;
  }
}
